body{
   background-color: black;
}
.first p{
   color: white;
   background:rgba(224,11,64, 0.25) ;
   text-align: center;
   font-size: 25px;
}
.container{
    width: 450px;
    background-color: black;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 25px rgba(224,11,64, 0.25);
    font-size: 20px;
    color: white;
}
.box{
    width: 51%;
    margin-left: 100px;
    margin-bottom: 42px;
}
label{
    font-size: 30px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 5px;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    border: 2px solid grey;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
}
input:focus {
    border: 2px dashed #6ab3a8;
    background-color: #4aa5ad;

}